#
# DOWNLOADS is used to create create DL_DIR
# -> https://docs.yoctoproject.org/bitbake/2.6/bitbake-user-manual/bitbake-user-manual-ref-variables.html#term-DL_DIR
#
# provide an absolute path without shortcuts '..~.'
#
# a good practice is to use a target directory named after the currently used yocto version
#
#

DOWNLOADS="/home/<myself>/yocto/downloads/<yocto-version-name>"

#
# use toolbox on non yocto compatible systems
# -> README.md
#
# TOOLBOX_CONTAINER=fedora-38-yocto
